gymnasium
numpy
opencv-python
tensorboard
torchvision
pytorch-ignite
tensorboardX
tensorflow
nltk
pybullet
ptan==0.8.1
matplotlib

# then execute the following two commands:
# pip install ptan==0.8.1
# pip install "gymnasium[atari, accept-rom-license]"
